<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<body>
    <div class="card right blue">
              
      <div class="row">
      <div class="card-content half">
        <div class="content-header">
          <div class="title">Medewerker </div>
          <div class="title">patientenhelpdesk</div>
        </div>
        <div class="content-body"> 

          <div class="icon-label" style="display: inline;">
            <div class="icon"><i class="fa fa-briefcase"></i></div>
            <div class="itext-sm">24,32 of 40 uur.</div>
          </div>

          <div class="icon-label" style="display: inline;">
            <div class="icon"><i class="fa fa-money"></i></div>
            <div class="itext-sm">€ 2100,-en €3250,-.</div>
          </div>

          <div class="icon-label" style="display: inline;">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <div class="itext-sm">Hybride werken.</div>
          </div>
          
          <div class="text">
            Als support medewerker ben jij het eerste aanspreek- punt van onze klant. Dit zijn eerstelijins zorgverleners zoals huisartsen,
            apotheken en tandartsen die graag hun zorg online bereikbaar willen maken
          </div>

          <div class="icon-list">
            <div class="icon-label"> 
              <div class="icon"><i class="fa fa-check" style="opacity: 0.5;"></i></div>
              <div class="itext">Je komt terecht bij de marktleider op het gebied van zorg/ICT</div>
            </div>

            <div class="icon-label">
              <div class="icon"><i class="fa fa-check" style="opacity: 0.5;"></i></div>
              <div class="itext">Je mag kiezen of je 24, 32 of 40 uur per week bij ons komt werken.</div>
            </div>

            <div class="icon-label">
              <div class="icon"><i class="fa fa-check" style="opacity: 0.5;"></i></div>
              <div class="itext">Wij werken hybride. Na je inwerkperiode regelen wij ook de nodige.</div>
            </div>
          </div>


        </div>
        <div class="content-footer">
            <span class="text">Deel via:</span>
              <i class="fa fa-facebook" href="#"></i>
              <i class="fa fa-twitter" href="#"></i>
              <i class="fa fa-linkedin" href="#"></i>
              <i class="fa fa-envelope" href="#"></i>
        </div>

      </div>

        <div class="card-content half">
          <form>
            <div class="content-header">
              <div class="title">Soliciteren</div>
            </div>
            <div class="content-body">
            
              <div class="row">
                <input type="text" style="flex:50%;"  placeholder="Voornaam">
                <input type="text" style="flex:50%;" placeholder="Achternaam">
              </div>

              <div class="row">
               <input type="text" style="flex:auto;"  placeholder="E-mailadres">
              </div>
            
              <div class="row">
                <input type="text" style="flex:auto;" placeholder="Mobiel nummer">
               </div>

               <div class="row">
                <div class="card-body1">
                  <div class="title">CV</div>
                  <div class="body">
                    <div class="container"> Bestand toevogen</div>
                    <div class="text"> Geen Bestand gerselecteerd.</div> 
                  </div>      
                </div>

                <div class="card-body1">
                  <div class="title">Motivatiebrief</div>
                  <div class="body">
                    <div class="container"> Bestand toevogen</div>
                    <div class="text"> Geen Bestand gerselecteerd.</div> 
                  </div>      
                </div>
               </div>
              
            </div>
          <div class="content-footer"> 
            <input type="submit" value="Soliciteren">
          </div>
        </form>
      </div> 

      </div>
    </div>

    <div class="card left lightblue">

      <div class="card-content center">
        <div class="content-header">
          <div class="title">Lorem ipsum</div>
          <div class="subtitle">Loren ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore el dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</div>
        </div>
        <div class="content-body">
          <div class="card-body2">
            <div class="title"> Support medewerker</div>
            <div class="items">  
                      
              <div class="row">
                <div class="item">
                  <div class="title">Uren per week</div>
                  <div class="description">24, 32 of 40 uur</div>
                </div>
                <div class="item">
                  <div class="title">Locatle</div>
                  <div class="description">Amsterdam Health Technology Cente.</div>
                </div>
                <div class="item">
                  <div class="title">Reiskosten</div>
                  <div class="description">Of je nou met her OV of met de auto bent, we vergoeden</div>
                </div>
              </div>

              <div class="row">
                <div class="item">
                  <div class="title">Locatle</div>
                  <div class="description">Amsterdam Health Technology Cente.</div>
                </div>
                <div class="item">
                  <div class="title">Vergoeding</div>
                  <div class="description"> €2100,-en €3250,-</div>
                </div>
                <div class="item">
                  <div class="title">Startdatum</div>
                  <div class="description">hybride werken</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

<router-outlet></router-outlet>
